extends layout

block content
  h1 Flok's RESTful API: Timestamp microservice
  h2 Example Usage:
  code localhost:3000/September 09, 2017
  br
  code localhost:3000/1504908000
  h2 Expected Output is JSON
  code { "unix": 1504908000, "natural": "September 09, 2017" }
